In [1]:
mahasiswa = ["Faris", "is", "Jefri", "Ghazy", "Memang"]
print(mahasiswa)

['Faris', 'is', 'Jefri', 'Ghazy', 'Memang']

### Analisis

Program ini membuat list bernama mahasiswa yang berisi lima elemen string, lalu menampilkan isi list tersebut ke layar.

In [2]:
mahasiswa = ("Faris", "is", "Jefri", "Ghazy", "Memang")
print(mahasiswa)

('Faris', 'is', 'Jefri', 'Ghazy', 'Memang')

### Analisis

Program ini membuat tuple bernama mahasiswa yang berisi lima elemen string, lalu menampilkan isi tuple ke layar.

In [3]:
mahasiswa = {"Faris", "is", "Jefri", "Ghazy", "Memang","Memang"}
mahasiswa [0] = "Rizal"
print(mahasiswa)

TypeError: 'set' object does not support item assignment

### Analisis

Program ini mencoba mengubah elemen set, tapi error karena set tidak mendukung pengindeksan dan tidak bisa diubah isinya.

In [ ]:
mahasiswa = ["Faris", "is", "Jefri", "Ghazy", "Memang", "Rizal"]
mahasiswa.append("dhedy")
mahasiswa.insert(3, "Aril")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Memang")
for nama in mahasiswa:
    print("Nama Mahasiswa: ", nama)
    
print(mahasiswa)

### Analisis

Program ini membuat list `mahasiswa`, menambah elemen `"dhedy"`, menyisipkan `"Aril"` di posisi ke-3, menghapus elemen terakhir dengan `pop()`, mengurutkan isi list secara terbalik (Z–A), menghapus elemen `"Memang"`, lalu mencetak setiap nama mahasiswa satu per satu dan menampilkan isi list akhir.

In [4]:
mahasiswa = ["Faris", "is", "Jefri", "Ghazy", "Memang", "Rizal"]
mahasiswa.append("dhedy")
mahasiswa.insert(3, "Aril")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Memang")

i = 1
for nama in mahasiswa:
    print("Nama Mahasiswa ke-", i ,": ", nama)
    i+=1
    
print(mahasiswa)

Nama Mahasiswa ke- 1 :  is
Nama Mahasiswa ke- 2 :  Rizal
Nama Mahasiswa ke- 3 :  Jefri
Nama Mahasiswa ke- 4 :  Ghazy
Nama Mahasiswa ke- 5 :  Faris
Nama Mahasiswa ke- 6 :  Aril
['is', 'Rizal', 'Jefri', 'Ghazy', 'Faris', 'Aril']

### Analisis

Program ini membuat list `mahasiswa`, lalu menambah `"dhedy"`, menyisipkan `"Aril"` di posisi ke-3, menghapus elemen terakhir, mengurutkan list secara terbalik (Z–A), dan menghapus `"Memang"`. Selanjutnya, program menampilkan setiap nama mahasiswa dengan nomor urut serta mencetak list akhir.

In [6]:
person = {"name": "Faris", "hp": "666666", "kelas": "TEKOM F"}
print(person)

{'name': 'Rizal', 'hp': '999999', 'kelas': 'TEKOM F'}

### Analisis

Program ini membuat dictionary bernama person yang berisi tiga pasangan key-value (name, hp, dan kelas), lalu menampilkan seluruh isi dictionary tersebut ke layar.

In [5]:
person = {"name": "Faris", "hp": "6666666", "kelas": "TEKOM F"}
for key, value in person.items():
    print(key, ":", value)

name : Faris
hp : 6666666
kelas : TEKOM F

### Analisis

Program ini membuat dictionary person dengan tiga pasangan key-value, lalu menggunakan loop for untuk menampilkan setiap kunci (key) dan nilainya (value) satu per satu.

In [23]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

### Analisis

Program ini menggunakan perulangan while yang dimulai dengan i = 0 dan terus berjalan selama i kurang dari atau sama dengan 5.

In [25]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

### Analisis

Program ini menggunakan perulangan for dengan range(10), yang menghasilkan angka dari 0 sampai 9, lalu mencetak setiap nilai i satu per satu.

In [26]:
for i in range(1,6):
  print(i)

1
2
3
4
5

### Analisis

Kode ini mencetak angka 1 sampai 5.

In [27]:
for i in range(5,10):
  print(i)

5
6
7
8
9

### Analisis

Menampilkan angka dari 5 hingga 9.

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])

['cherry']

### Analisis

Program ini membuat list thislist berisi beberapa nama buah, lalu mencetak elemen dengan indeks 2 sampai sebelum 3 menggunakan slicing [2:3].

In [29]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

### Analisis

Program ini membuat list thislist, lalu mencetak elemen mulai dari indeks ke-3 hingga akhir list menggunakan slicing [3:].

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

### Analisis

Program ini membuat list thislist, lalu mencetak seluruh isinya dengan slicing [:], yang berarti menampilkan semua elemen dari awal hingga akhir list.

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:3])

['banana', 'cherry']

### Analisis

Program ini membuat list thislist, lalu mencetak elemen dengan indeks 1 hingga sebelum 3 menggunakan slicing [1:3].

In [32]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

### Analisis

Program ini menggunakan perulangan while yang dimulai dari i = 1 dan berjalan selama i <= 9. Di setiap iterasi, nilai i dicetak lalu ditambah 2.

In [48]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i +=2

1
3
5
WOW
9
11
13

### Analisis

Program ini menggunakan perulangan while dengan i mulai dari 1 hingga 13, bertambah 2 setiap iterasi. Jika i sama dengan 7, program mencetak "WOW", selain itu mencetak nilai i.

In [49]:
i = 1
while i <= 8:
    if i % 2 == 1:
        print("hidup")
    else:
        print("mahasiswa")
    i += 1

hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa

### Analisis

Program ini menjalankan perulangan while dari i = 1 hingga i = 8. Jika i ganjil (i % 2 == 1), program mencetak "hidup", dan jika genap, mencetak "mahasiswa".

In [51]:
for i in range(1, 14):
    print(i)
    if i % 3 == 2:  
        print("Ha")

1
2
Ha
3
4
5
Ha
6
7
8
Ha
9
10
11
Ha
12
13

### Analisis

Program ini menggunakan perulangan for dari angka 1 sampai 13. Setiap nilai i dicetak, lalu jika i menghasilkan sisa 2 saat dibagi 3 (i % 3 == 2), program juga mencetak "Ha".

In [50]:
1
2
Ha
4
Hi
Ha
7
8
Ha
Hi
11
Ha
13

1

### Analisis

Output menunjukkan perulangan angka 1–13 dengan kondisi tertentu yang menampilkan “Ha” dan “Hi” pada angka tertentu sesuai logika if.